.git
.env
.env.*
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.uv-cache

data_digit_hino
image_test
notebooks
output
resources/logs
resources/weight/*.pt
resources/weight/*.pth
resources/weight/*.onnx
resources/weight/*.engine
runs
storage

*.log
*.tmp
